<div class="text-center">
  <h1>Edit Forecast</h1>
</div>

<%= form_for [@event, @forecast], html: { class: "form-horizontal" } do |f| %>
  <%= render 'forecast_fields', f: f %>

  <div class="row">
    <div class="col-md-10 col-md-offset-2">
      <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>
  </div>

<% end %>
